@import url("https://fonts.googleapis.com/css2?family=Playwrite+DE+VA+Guides&family=SUSE:wght@100..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SUSE", sans-serif;
  transition: all 0.3s ease-out;
  scroll-behavior: smooth;
  scroll-padding: 60px;
}

html {
  font-size: 16px;
  @apply bg-tel-white;
  overflow-x: hidden;
}
body {
  @apply w-full;
  @apply text-tel-black;
  @apply h-full;
  @apply overflow-x-hidden;
}
